#mycal {
    background-color: palevioletred;
    width: 300px; /* Set a percentage-based width */
    padding: 20px;
    border-radius: 16px;
    box-shadow: 10px 10px 5px lightgray;
}

input {
    width: 100%;
    height: 60px;
    text-align: end;
    font-size: larger;
}

.circle-button {
    border-radius: 50%;
    font-size: larger;
    width: 48px;
    height: 48px;
}

.calculator-wrapper {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.calculator-heading {
    color: rgb(219, 0, 109);
    padding-bottom: 0.5rem;
}

.history-row {
    border-radius: 15px;
    border: solid lightgrey 1px;
    margin: 8px;
    width: 100%;
    padding: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.color-palette {
    margin-bottom: 1rem;
}

.history {
    margin-top: 1rem;
}
